<html>
    <head>
        <meta http-equiv="refresh" content="3; URL='<%= new_drink_path %>'" />
    </head>
    <body style="background:white;">
        <main>
            <h1>
                Drink creation successful! Redirecting in three seconds...<br>
                <%= link_to "(Or click here to redirect manually.)", new_drink_path %>
            </h1>
        </main>
    </body>
</html>