<h1>Editing drink</h1>
 <%= render 'form' %>
 
<<<<<<< HEAD
<%= link_to 'Back', drinks_path %>

<footer>
    <h4><strong>Please Drink Responsibly</strong></h4>
    <p>ITSC 3155     |      The Squad (Group 9-2)       |       University of North Carolina at Charlotte     |     2018</p>
</footer>
=======
<%= link_to 'Back', drinks_path %>
>>>>>>> 1f6cf5ca66cc85a489c423124c0167e9db203f98
