<h1>Editing drink</h1>
 <%= render 'form' %>
 
<%= link_to 'Back', drinks_path %>

<footer>
    <h4><strong>Please Drink Responsibly</strong></h4>
    <p>ITSC 3155     |      The Squad (Group 9-2)       |       University of North Carolina at Charlotte     |     2018</p>
</footer>