<body class="drink_body">
    <div class="drink_div">
    <div id="navContainer">
    <ul id="nav">
        
        <li> <%= link_to "Home", drinks_path, class: "button_to", :method => "get" %> </li>

        <li> <%= link_to "Search", drinks_search_path, class: "button_to", :method => "get" %> </li>
    </ul>

<div id="main">

    <section id="descriptionMain">
    <h2>Description Area</h2>
    <p>Description is here
    </p>
    </section>

    <section id="InformationMain">
    <h2>Information Area</h2>
    <p>Information is here.
    </p>
    
    </section>

</div>


     <%= button_to "Start Search", drinks_search_path, class: "button_to", :method => "get" %>

        
    </div>
</body>


<footer>
    <h4>Please Drink Responsibly</h4>
    <p>ITSC 3155     |      The Squad (Group 9-2)       |       University of North Carolina at Charlotte     |     2018</p>
</footer>
