<div class="bodybackground">
<div id="navContainer">
    <ul id="nav">
        
        <li><a href="#">Home</a></li>
        <li><a href="search">Search</a></li>
    </ul>
    
</div>
<div id="main">

    <section id="PaddingRegionAbove"></section>
    <section id="descriptionMain">
    <h2>Description Area</h2>
    <p>Welcome to the Drink Mixing App! This is an application created by The Squad (Group 9-2) of ITSC 3155, as mentioned in our footer.  You can use this app to quickly find drinks based on their mixers & liqours, or by a flavor profile, whatever works for you!
    </p>
    </section>
    <section id="InformationMain">
    <h2>Information Area</h2>
    <p>To get started, simply click the "Continue" button, or click the "Search" button up top!  When in the search section, simply select the search  terms by clicking the associated checkboxes and hit "submit" to begin the search! It's that easy!
    </p>
    </section>
    <section id="PaddingRegionBelow">
        
    </section>
    

</div>
</div>
<footer>
    <h4>Please Drink Responsibly</h4>
    <p>ITSC 3155     |      The Squad (Group 9-2)       |       University of North Carolina at Charlotte     |     2018</p>
</footer>
