<%= javascript_include_tag "results.js" %>

<div class = "TheBackground" >
<div id="navContainer">
    <ul id="nav">
        
        <li> <%= link_to "Home", drinks_path, class: "button_to", :method => "get" %> </li>

        <li> <%= link_to "Search", drinks_search_path, class: "button_to", :method => "get" %> </li>
        
        <li> <%= link_to "Results", drinks_search_results_path, class: "button_to", :method => "get" %> </li>

    </ul>

<p>RESULTS page</p>

<div id="theTable">
<table class="fold-table">
  <thead>
    <tr>
      <th>Drink Name</th><th>Primary Liquor</th><th>Secondary Liquor(s)</th><th>Primary Mixer</th><th>Secondary Mixer(s)</th><th>Flavor</th><th>Complexity</th>
    </tr>
  </thead>
  <tbody>
    <tr class="view">
      <td>Screwdriver</td>
      <td class="pcs">Vodka</td>
      <td class="cur"></td>
      <td>Orange Juice</td>
      <td class="per"></td>
      <td class="per">Sweet</td>
      <td class="per">2</td>
    </tr>
    <tr class="fold">
      <td colspan="7">
        <div class="fold-content">
          <h3>Screwdriver</h3>
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
          <table>
            <thead>
              <tr>
                <th>Ingredients</th><th>Directions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Vodka</td>
                <td>Step 1</td>
              </tr>
              <tr>
                <td>Orange Juice</td>
                <td>Step 2</td>
              </tr>
              <tr>
                <td>White Grape Juice</td>
                <td>Step 3</td>
              </tr>
            </tbody>
          </table>          
        </div>
      </td>
    </tr>
    <tr class="view">
      <td>Bloody Mary</td>
      <td class="pcs">Vodka</td>
      <td class="cur"></td>
      <td>Tomato Juice</td>
      <td class="per">Celery</td>
      <td class="per">Savory</td>
      <td class="per">4</td>
    </tr>
    <tr class="fold">
      <td colspan="7">
        <div class="fold-content">
          <h3>Bloody Mary</h3>
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
          <table>
            <thead>
              <tr>
                <th>Ingredients</th><th>Directions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Vodka</td>
                <td>Step 1</td>
              </tr>
              <tr>
                <td>Tomato Juice</td>
                <td>Step 2</td>
              </tr>
              <tr>
                <td>Celery</td>
                <td>Step 3</td>
              </tr>
            </tbody>
          </table>          
        </div>
      </td>
    </tr>
    <tr class="view">
      <td>Rum and Coke</td>
      <td class="pcs">Rum</td>
      <td class="cur"></td>
      <td>Coke</td>
      <td class="per"></td>
      <td class="per">Savory</td>
      <td class="per">1</td>
    </tr>
    <tr class="fold">
      <td colspan="7">
        <div class="fold-content">
          <h3>Rum and Coke</h3>
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
          <table>
            <thead>
              <tr>
                <th>Ingredients</th><th>Directions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Rum</td>
                <td>Step 1</td>
              </tr>
              <tr>
                <td>Coke</td>
                <td>Step 2</td>
              </tr>
              <tr>
                <td></td>
                <td>Step 3</td>
              </tr>
            </tbody>
          </table>          
        </div>
      </td>
    </tr>
    <tr class="view">
      <td>White Sangria</td>
      <td class="pcs">White Wine</td>
      <td class="cur">Vodka</td>
      <td>White Grape Juice</td>
      <td class="per">Apple Juice</td>
      <td class="per">Sweet</td>
      <td class="per">6</td>
    </tr>
    <tr class="fold">
      <td colspan="7">
        <div class="fold-content">
          <h3>White Sangria</h3>
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
          <table>
            <thead>
              <tr>
                <th>Ingredients</th><th>Directions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>White Wine</td>
                <td>Step 1</td>
              </tr>
              <tr>
                <td>Vodka</td>
                <td>Step 2</td>
              </tr>
              <tr>
                <td>White Grape Juice</td>
                <td>Step 3</td>
              </tr>
                <tr>
                <td>Apple Juice</td>
                <td>Step 4</td>
              </tr>
            </tbody>
          </table>          
        </div>
      </td>
    </tr>
    
            </tbody>
          </table>          
        </div>
      </td>
    </tr>
  </tbody>
</table>
</div>
<div class="BackgroundThing">
  
</div>
<footer>
    <h4>Please Drink Responsibly</h4>
    <p>ITSC 3155     |      The Squad (Group 9-2)       |       University of North Carolina at Charlotte     |     2018</p>
</footer>