<%= render 'search_forms' %>
<br>
<br>
<br>
<div id="results">
    <H2>RESULTS</H2>
    <% @drinks.each do |drink| %>
        <div>
            <section class="drink_result"><%= drink.name %></section>
        </div>
    <% end %>
</div>