
<div id="navContainer">
    <ul id="nav">
        <li><a href="drinks/index">Home</a></li>
        <li><a href="#">Saved Drinks</a></li>
        <li><a href="#">Search</a></li>
</ul>
</div>

<% form_for :drinks, url: drinks_path do |f| %>

<ul>Drink Type
    
</ul>
<% f.submit %>

<% end %>