<%= render 'header' %>

<%= render 'search_forms' %>

<div id="results">
    <% @drinks.each do |drink| %>
        <ul>
            <li><%= drink.name %></li><br>
        </ul>
    <% end %>
</div>

<footer>
    <h4><strong>Please Drink Responsibly</strong></h4>
    <p>ITSC 3155     |      The Squad (Group 9-2)       |       University of North Carolina at Charlotte     |     2018</p>
</footer>