
<div id="navContainer">
    <ul id="nav">
        <li><a href="drinks/index">Home</a></li>
        <li><a href="#">Saved Drinks</a></li>
        <li><a href="#">Search</a></li>
</ul>
</div>

<% form_for :drinks, url: drinks_path do |f| %>

<ul>Drink Type
    
</ul>


<%= check_box_tag(:pet_dog) %>
<%= label_tag(:pet_dog, "I own a dog") %>
<%= check_box_tag(:pet_cat) %>
<%= label_tag(:pet_cat, "I own a cat") %>

<% end %>