<%= render 'header' %>

<%= render 'search_forms' %>
<br>
<br>
<br>
<div id="results">
    <H2>RESULTS</H2>
    <% @drinks.each do |drink| %>
        <div>
            <section class="drink_result"><%= drink.name %></section>
        </div>
    <% end %>
</div>

<footer>
    <h4><strong>Please Drink Responsibly</strong></h4>
    <p>ITSC 3155     |      The Squad (Group 9-2)       |       University of North Carolina at Charlotte     |     2018</p>
</footer>