<body class="search_body">
    <main>
        <%= render 'search_forms' %>
        <div class="results">
            <div class="results_region">
                    <H2>RESULTS</H2>
            </div>
            <div class="drinks_returned">
                <% @drinks.each do |drink| %>
                    <section class="drink_result">
                        <section class="drinkname"><%= drink.name %> || <%= drink.flavor %></section>
                        <section class="drinkdescription"><%= drink.description %></section>
                    </section>
                    <br>
                    <br>
                <% end %>
            </div>
        </div>
    </main>
</body>