<div id="navContainer">
    <ul id="nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">Saved Drinks</a></li>
        <!--<li><a href="#">Search</a></li>-->
</ul>

</div>
<div id="main">
    <section id="descriptionMain">
<div>
    <h2>Description Area</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus libero justo, ac porttitor neque venenatis nec. Donec sed lorem quis elit sodales consectetur quis non quam. Mauris quis justo nisi. Vivamus at nisl mi. Aliquam erat volutpat. Duis sagittis orci vel ornare convallis. Donec tortor ligula, cursus at congue non, condimentum quis felis. Suspendisse potenti. Nam massa augue, porttitor sit amet felis a, sollicitudin scelerisque dolor. Curabitur et ex imperdiet, pretium felis quis, commodo arcu. Proin quis nulla dolor. Nulla sed viverra nulla. In ligula massa, porta eget rhoncus a, commodo quis sapien.
    </p></section>
<section id="InformationMain">
<div>
    <h2>Information Area</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus libero justo, ac porttitor neque venenatis nec. Donec sed lorem quis elit sodales consectetur quis non quam. Mauris quis justo nisi. Vivamus at nisl mi. Aliquam erat volutpat. Duis sagittis orci vel ornare convallis. Donec tortor ligula, cursus at congue non, condimentum quis felis. Suspendisse potenti. Nam massa augue, porttitor sit amet felis a, sollicitudin scelerisque dolor. Curabitur et ex imperdiet, pretium felis quis, commodo arcu. Proin quis nulla dolor. Nulla sed viverra nulla. In ligula massa, porta eget rhoncus a, commodo quis sapien.</p>
</section>
</div>


<%= submit_tag "Continue" %>
<footer>
    <h4>Please Drink Responsibly</h4>
    <p>ITSC 3155     |      The Squad (Group 9-2)       |       University of North Carolina at Charlotte     |     2018</p>
</footer>