<body class="welcome_body">
    <div class="welcome_div">
        <h4>Alcohol's great, but it's even greater when enjoyed legally</h1>
        <p>are you over 21?</p>
        
        <table>
            <tr>
                <th>
                    <form method="get" action='drinks/index' class="button_to">
                        <input id="toggle-off" name="toggle" type="submit"><label for="toggle-off">Not Quite</label>
                    </form>
                </th>
                <th>
                    <form method="get" action='drinks/index' class="button_to">
                        <input id="toggle-on" name="toggle" type="submit"><label for="toggle-on">Heck Yeah!</label>
                    </form>
                </th>
            </tr>
        </table>
    </div>
</body>

