<body>
    <div>
        <h4>Alcohol's great, but it's even greater when enjoyed legally</h1>
        <p>are you over 21?</p>
        <input id="toggle-off" name="toggle" type="radio"><label for="toggle-off">Not Quite</label>
        <input id="toggle-on" name="toggle" type="radio"><label for="toggle-on">Heck Yeah!</label>
    </div>

</body>


<footer>
    <h4><strong>Please Drink Responsibly</strong></h4>
    <p>ITSC 3155     |      The Squad (Group 9-2)       |       University of North Carolina at Charlotte     |     2018</p>
</footer>

