// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 .drink_body{
    background: url(drinkBG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
}

// css for hover over the navi bar
li a:hover:not(.active) {
    background-color: lightblue;
    color: black;
}



ul#nav {
    text-align: center;
    display: block;
}

#nav li {
    color: blue;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

#nav li a {
    text-decoration: none;
    font-size: 32px;
}

#content {
    width: 100%;
}

#descriptionMain {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 25%;
    height: 90%;
    border: 3px solid black;
    display:inline-block;
    position: center;
    min-height: 500px;

}

#InformationMain {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 25%;
    height: 90%;
    border: 3px solid black;
    display:inline-block;
    position: center;
    min-height: 500px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    color: black;
    text-align: center;
}

