body
{
 text-align:center;
 width:995px;
 margin:0 auto;
 padding:0px;
 font-family: "Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
 background-color:#E0F2F7;
}
.search_div
{
 margin:0 auto;
 padding:0px;
 text-align:center;
 width:400px;
}

#drinks_by_name
{
 width:100px;
 position:relative;
 display:inline-block;
}

#drinks_by_liquor
{
 width:100px;
 position:relative;
 display:inline-block;
}
#drinks_by_mixer
{
 width:100px;
 position:relative;
 display:inline-block;
}

#drinks_by_flavor
{
 width:100px;
 position:relative;
 display:inline-block;
}

#upper #lower {
 width: 200px;
 position:relative;
 display:inline-block;
}


