// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// css for hover over the navi bar
// li a:hover:not(.active) {
//     color: black;
// }

// main {
//     flex: 1 0 auto;
// }

// ul#nav {
//     text-align: center;
//     display: block;
//     width: 100%;
//     height: 100%;
//     margin-bottom: -10px;
//     padding-top: 10px;
//     padding-bottom: 20px;
//     background-color: #fcfcfc;
// }

// #nav li {
//     display: inline-block;
//     margin-left: 10px;
//     margin-right: 10px;
// }

// #nav li a {
//     text-decoration: none;
//     font-size: 32px;
// }

// body
// {
//   background: url(drinkBG.png);
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-attachment: fixed;
//     background-position: center;
//     text-align:center;
//     // width:995px;
//     // margin:0 auto;
//     font-family: "Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
// }


.upper {
  display:inline-block;
   width: 50%;
    box-sizing: border-box;


}

.lower {
  display:inline-block;
     width: 50%;

}

.checkbox-label {
    display:block;
	width:100%;
	border: 2px solid #ccc;
	background: #f8f8f8;
	border-radius: 2px;
	text-align: center;
	padding: 10px 3rem;
	font-size: 1.2rem;
	// box-shadow:0 0 5px 5px rgba(0,0,0,0.2);
	margin: 5px;
}
.checkbox-label:hover {
    background:#ccc;
}
.checkbox-search {
    position:absolute;
	right:10px;
	top:15px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
}
.checkbox-search:focus + label {
    outline-width: 2px;
    outline-style: solid;
    outline-color: Highlight;
}

/* WebKit gets its native focus styles.
 */
@media (-webkit-min-device-pixel-ratio:0) {
  .checkbox-search:focus + label {
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
  }
}

.checkbox-search:active + label {
    background-color: #ccc;
}
.checkbox-search:checked + label{
    background-position: 0 0;
    background: #4CAF50;
    color: white;
    -webkit-transition: color .25s, background .25s;
    transition: color .25s, background .25s;
}

.box2 {
    border-top: 10px solid #241b26;
    padding-top: 40px;
    background-color: #fcfcfc;
    width: 100%;
    height: auto;
    overflow: auto;
    color: #241b26;
    font-family: Verdana;
    > section.drink_name {
        input[type = text] {
            width: 80%;
            padding: 12px 12px;
            border: 2px solid #ccc;
            background-color: #f8f8f8;
        }
    }
    
    * {
        box-sizing: border-box;
    }
    
    >.box3 {
        width: 33.333333%;
        margin: 0px;
        padding: 20px;
        position: static;
        float: left;
        font-family: Verdana;
        font-size: 25px;
        
        section.liquor_name, section.mixer_name {
            overflow:hidden;
        	position:relative;
        	max-width:300px;
        	margin:auto;
        	padding:10px;
        	background:#f9f9f9;
        }
        
        // section.liquor_name label {
        //     border: 2px solid #ccc;
        //     color: black;
        //     width: 130px;
        //     margin: 1px;
        //     height: 25px;
        //     padding: 2px;
        //     background-color: #f8f8f8;
        //     border-radius: 1px;
        //     display: inline-block;
        //     text-align: left;
        //     font-size: 16px;
        // }

        // section.mixer_name label {
        //     border: 2px solid #ccc;
        //     color: black;
        //     width: 150px;
        //     margin: 1px;
        //     height: 26px;
        //     padding: 2px;
        //     top: 1px;
        //     background-color: #f8f8f8;
        //     border-radius: 1px;
        //     display: inline-block;
        //     text-align: left;
        //     font-size: 16px;
        // }

        > section.drink_flavor {
            select {
                border: 2px solid #ccc;
                background-color: #f8f8f8;
                color: black;
                padding: 3px 25px 3px 25px;
                width: auto;
                cursor: pointer;
                margin-bottom: 10px;
                font-size: 16px;
            }
        }
    }
}

* {
    box-sizing: border-box;
}

.results {
    width: 100%;
    height: auto;
    border-top: 10px solid #241b26;
    background-color: #fcfcfc;
    padding-left: 150px;
    padding-right: 150px;
    text-align: left;
    
    .results_region {
        text-align: center;
        
    }
    .drinkname {
        padding-top: 20px;
        font-weight: bold;
        font-size: 1.1em;
        text-align: center;
    }
    .image{
        content:url(drinkall.jpeg);
        float: right;
    }
    .information_region{
        border-left: 2px solid #241b26;
        padding-left: 6px;
        text-align: left;
        
        .drinkmixer {
            padding-bottom: 10px;
        }
    }

    .drink_result {
        height: auto;
        padding-bottom: 20px;

    }
    padding-bottom: 20px;
}


