// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.intro {
    font-family: Verdana;
}

.age_check {
    font-family: Verdana;
}

.welcome_body{
    background: url(drinkBG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.welcome_div {
    
    color: #241b26;
    left: 0;
    top: 34%;
    position: fixed;
    width: 100%;
    font-size: 20px;
    text-align: center;
    line-height: 2px;
    
    
    
      position: fixed;
  top: 45%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.welcome_table {

    margin: 0px auto;
    font-family: Verdana;
    font-size: 18px;
}

footer {
    color: #aca8ad;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #241b26;
    text-align: center;
    font-family: Verdana;
}
.welcome_div:after {
    opacity: 0.80;
    filter: blur(1px);
    border-radius: 15px;
    background: #fcfcfc;
    width: 715px;
    height: 200px;
    z-index: -1;
    content: "";
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

input[type =button], input[type=submit] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 20px;
    width: 100%;
    text-decoration: none;
    cursor: pointer;
}

.button_to {
    color: #aca8ad;
    font-family: Verdana;
}

.button_to :hover {
    background-color: #39d22d;
    cursor: default;
    color: #E6E6E6;
}


